a {
    color: inherit;
}
textarea {
    resize: none;
}
#plus{
    transition: transform .2s; /* Animation */
}
#plus:hover{
    transform: scale(1.2);
}

table.dataTable thead .sorting_asc{
    height: 10px;
}


.registro{
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}