{% extends "base.html" %}
{% block titulo %}Agenda{% endblock %}

{% block content %}

<h1 class="text-center">Historico de Atención</h1>


<table id="agenda">
    <thead>
        <td>RUT</td>
        <td>Nombres</td>
        <td>Apellidos</td>
        <td>Dirección</td>
        <td>Numero contacto</td>
        <td>Fecha</td>
        <td>Hora</td>
        <td>Estado</td>
    </thead>
    <tbody>
        {% for agenda in agendamientos %}
        <tr>
            <td>{{agenda.pacientes_rut.rut}}</td>
            <td>{{agenda.pacientes_rut.nombre}}</td>
            <td>{{agenda.pacientes_rut.apellidos}}</td>
            <td>{{agenda.pacientes_rut.direccion}}</td>
            <td>{{agenda.pacientes_rut.telefono}}</td>
            <td>{{agenda.fecha}}</td>
            <td>{{agenda.hora}}</td>
            <td>
                <form id="{{agenda.id}}FORM">{% csrf_token %}                    
                    <select id="{{ agenda.id }}ID" onChange="estadoSelected({{ agenda.id }});" class="form-control"
                        id="estados" name="estados">
                        {% for estado in estados %}
                        <option value="{{ estado.idestado}}" {% if estado.idestado == agenda.estado_idestado.idestado %} selected {% endif %}>{{estado.desc_estado}}</option>
                        {% endfor %}
                    </select>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% load static %}
<script src="{% static 'js/agenda.js' %}"></script>
{% endblock %}