{% extends "base.html" %}
{% block titulo %} Home {% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<h3 class="text-center">Bienvenido {{ usuario.nombres }} {{usuario.apellidos}}</h3>


<h2 class="text-center">Agenda del {{ lunes | date:'d-m-Y' }} al {{domingo| date:'d-m-Y' }} </h2>


<table id="agenda">
    <thead>
        <td>RUT</td>
        <td>Nombres</td>
        <td>Apellidos</td>
        <td>Dirección</td>
        <td>Numero contacto</td>
        <td>Fecha</td>
        <td>Hora</td>
        <td>Estado</td>
    </thead>
    <tbody>
        {% for agenda in agendamientos %}
        <tr>
            <td>{{agenda.pacientes_rut.rut}}</td>
            <td>{{agenda.pacientes_rut.nombre}}</td>
            <td>{{agenda.pacientes_rut.apellidos}}</td>
            <td>{{agenda.pacientes_rut.direccion}}</td>
            <td>{{agenda.pacientes_rut.telefono}}</td>
            <td>{{agenda.fecha | date:'d-m-Y'}}</td>
            <td>{{agenda.hora | time:'H:i'}}</td>
            <td>
                {{agenda.estado_idestado.desc_estado}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="chartDiv" style="max-width: 740px;height: 400px;margin: 0px auto">
</div>

{% load index %}

{% load static %}
<script src="{% static 'js/index.js' %}">
</script>
<script>
    var chart = JSC.chart('chartDiv', {
        debug: false,
        type: 'column',
        annotations:[],
        yAxis: {
            scale_type: 'stacked',
            label_text: 'Agendamientos'
        },
        title_label_text: 'Mes N°{{dt | date:'m'}} del {{dt|date:'Y'}}',
        xAxis_label_text:'Ultimos 4 meses',
        series: [
            {
                name: 'Agendados',
                points:[
                            {% for month in months %} 
                                [
                                '{{ month | date:'M'}}', {{ agendados|index:forloop.counter0}}
                                ],
                            {%endfor%}
                        ],
            },
            {
                name: 'Cancelados',
                points:[
                            {% for month in months %} 
                                [
                                '{{ month | date:'M'}}', {{ cancelados|index:forloop.counter0}}
                                ],
                            {%endfor%}
                        ],
            },
            {
                name: 'Realizados',
                points:[
                            {% for month in months %} 
                                [
                                '{{ month | date:'M'}}', {{ realizados|index:forloop.counter0}}
                                ],
                            {%endfor%}
                        ],
            },
            {
                name: 'Confirmados',
                points:[
                            {% for month in months %} 
                                [
                                '{{ month | date:'M'}}', {{ confirmados|index:forloop.counter0}}
                                ],
                            {%endfor%}
                        ],
            }            
        ]
    });
</script>
{% endblock %}