{% extends "base.html" %}
{% block titulo %}Nuevo paciente{% endblock %}

{% block content %}

<form class="offset-3 col-6" id="register" name="register" method="POST">{% csrf_token %}

    <div class="row mt-3 form-group">
        <label for="rut" class="col-11">RUT Paciente</label>
        <div class="row col-12">
            <input type="text" class="form-control col-10 ml-3" id="rut"
            placeholder="Ingrese el RUT del paciente sin puntos y con guión" name="rut">
            <i class="fa-solid fa-xl mt-3 fa-magnifying-glass col-1" onclick="getPaciente()"></i>
        </div>
    </div>
    <div class="form-group">
        <label for="nombres">Nombre</label>
        <input type="text" class="form-control" id="nombres" placeholder="Ingrese su nombre" name="nombres" disabled>
    </div>
    <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" class="form-control" id="apellidos" placeholder="Ingrese su apellidos" name="apellidos" disabled>
    </div>
    <div class="form-group">
        <label for="telefono">Numero de Telefono</label>
        <input type="text" class="form-control" id="telefono" placeholder="Ingrese su telefono" name="telefono" disabled>
    </div>
    <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" id="direccion" placeholder="Ingrese su dirección" name="direccion" disabled>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Ingrese su correo" name="email" disabled>
    </div>
    <div class="form-group">
        <label for="dateborn">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="dateborn" placeholder="Ingrese sus Apellidos" name="dateborn" disabled>
    </div>
    <div class="form-group">
        <label for="motivoConsulta">Motivo de consulta</label>
        <textarea  class="form-control" id="motivoConsulta" rows="3" maxlength="255" disabled></textarea>
    </div>
    <div class="text-center form-group mt-5">
        <button class="btn-secondary btn" name="submit" id="submit" type="submit" disabled>Submit</button>
    </div>
</form>
{% load static %}
<script src="{% static 'js/pacientes.js' %}"></script>

{% endblock %}