{% extends "base.html" %}
{% block titulo %}Pacientes{% endblock %}

{% block content %}
<div class="row mt-2">
    <a class="mt-4 ml-3 fa-2xl fa-solid fa-user-plus" id="plus" href="/nuevopaciente">
    </a>
    <h1 class="text-center col-11">Mis pacientes</h1>

</div>
<form>
    {% csrf_token %}
</form>
<table id="pacientes">
    <thead>
        <td>RUT</td>
        <td>Nombres</td>
        <td>Apellidos</td>
        <td>Dirección</td>
        <td>Numero contacto</td>
        <td>Profesionales a Cargo</td>
        <td>Acciones</td>
    </thead>
    <tbody>
        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente.rut }}</td>
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.apellidos }}</td>
            <td>{{ paciente.direccion }}</td>
            <td>{{ paciente.telefono }}</td>
            <td>
                {% for profesional in paciente.profesionales %}
                    <li>
                        {{ profesional.profesionales_rut.nombres }} {{ profesional.profesionales_rut.apellidos }}
                    </li>
                {% endfor %}
            </td>
            <td>
                <form id='{{ paciente.rut }}' action="DELETE">
                    {% csrf_token %}
                    <a class="fa-solid fa-pen-to-square fa-xl" href="edit_paciente/{{paciente.rut}}"></a>
                    <a class="fa-solid fa-eye fa-xl" href="ficha/{{paciente.rut}}"></a>
                    <a class="fa-sharp fa-solid fa-circle-xmark fa-xl" href="#" onclick="deletePaciente('{{ paciente.rut }}')"></a>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% load static %}
<script src="{% static 'js/pacientes.js' %}"></script>
{% endblock %}